[Cedente]
Nome=T2Ti Tecnologia da Informação LTDA
CNPJCPF=10793118000178
Logradouro=LOGRADOURO EMPRESA
Numero=1
Bairro=BAIRRO
Cidade=CIDADE
CEP=71925000
Complemento=COMPLEMENTO
UF=DF
CodigoCedente=789456
Convenio=123456
[Conta]
Agencia=2903
AgenciaDigito=5
Conta=255645
ContaDigito=
[Banco]
Numero=001
CNAB=0
[Titulo1]
NumeroDocumento={{numeroDocumento}}
NossoNumero={{nossoNumero}}
Carteira={{carteira}}
LocalPagamento={{localPagamento}}
Vencimento={{dataVencimento}}
DataDocumento={{dataDocumento}}
DataProcessamento={{dataProcessamento}}
Aceite={{aceite}}
TotalParcelas=1
ValorDesconto=0
DataDesconto={{dataDesconto}}
ValorDocumento={{valorDocumento}}
Parcela=1
PercentualMulta={{percentualMulta}}
Instrucao1={{instrucao01}}
Instrucao2={{instrucao02}}
Sacado.NomeSacado={{nomeSacado}}
Sacado.cNPJCPF={{cpfCnpjSacado}}